<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sikeres Foglalás</title>
</head>
<body>
    <div>
        <h2>Sikeres Foglalás!</h2>
        <p>Köszönjük a foglalást!</p>
        <a href="/">Vissza a főoldalra</a>
    </div>
</body>
</html>
